<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
  </head>
  <body>
    <h2>EndPoint de cliente</h2>
    <h3>Listar clientes</h3>
    <table>
      <tr>
        <td>NÚMERO:</td>
        <td>1</td>
      </tr>
      <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>Listar los clientes</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/user/listarClient</td>
      </tr>
      <tr>
        <td>DESCRIPCIÓN</td>
        <td>Permite listar los clientes en mongoDB</td>
      </tr>
      <tr>
        <td>VERBO HTTP</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token : token</td>
      </tr>
      <tr>
        <td>USUARIOS</td>
        <td>Clientes</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td></td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: message: "Clientes encontrados: " data:clientes <br />
          Incorrecto: message: "No se encontraron clientes" <br />
          Error: message: `Error en el sistema + error`
        </td>
      </tr>
      <tr>
        <td>DESARROLLADOR</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Repositorio</td>
        <td>Null</td>
      </tr>
    </table>

    <h3>Actualizar cliente</h3>
    <table>
      <tr>
        <td>NÚMERO:</td>
        <td>2</td>
      </tr>
      <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>Actializar clientes</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/user/actializarCLient</td>
      </tr>
      <tr>
        <td>DESCRIPCIÓN</td>
        <td>Permite actulizar un cliente en mongoDB</td>
      </tr>
      <tr>
        <td>VERBO HTTP</td>
        <td>PUT</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token : token</td>
      </tr>
      <tr>
        <td>USUARIOS</td>
        <td>Clientes</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td>
          json: { "nombres":"Angy Marcella Ceron Muñoz",
          "direccion":"Isnos-Huila Colombia", "telefono":"3114840168",
          "fecha_nac":"2089-03-09", "password":"123456789" }
        </td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: message: "Cliente actualizado con exito" <br />
          Incorrecto: message: "Error al actulizar el cliente" <br />
          Error: message: `Error en el sistema + error`
        </td>
      </tr>
      <tr>
        <td>DESARROLLADOR</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Repositorio</td>
        <td>Null</td>
      </tr>
    </table>

    <h3>Listar cliente</h3>
    <table>
      <tr>
        <td>NÚMERO:</td>
        <td>3</td>
      </tr>
      <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>listar un cliente</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/user/listarClient/:id</td>
      </tr>
      <tr>
        <td>DESCRIPCIÓN</td>
        <td>Permite listar un cliente en mongoDB</td>
      </tr>
      <tr>
        <td>VERBO HTTP</td>
        <td>GET</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token : token</td>
      </tr>
      <tr>
        <td>USUARIOS</td>
        <td>Clientes</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td></td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: message: "Cliente encontrado: ", data : cliente <br />
          Incorrecto: message: "Error no se encontro el cliente con el id"
          <br />
          Error: message: `Error en el sistema + error`
        </td>
      </tr>
      <tr>
        <td>DESARROLLADOR</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Repositorio</td>
        <td>Null</td>
      </tr>
    </table>

    <h3>Eliminar cliente</h3>
    <table>
      <tr>
        <td>NÚMERO:</td>
        <td>4</td>
      </tr>
      <tr>
        <td>NOMBRE DEL SERVICIO</td>
        <td>Eliminar cliente</td>
      </tr>
      <tr>
        <td>URI</td>
        <td>/user/eliminarClient/:id</td>
      </tr>
      <tr>
        <td>DESCRIPCIÓN</td>
        <td>Permite eliminar un cliente en mongoDB</td>
      </tr>
      <tr>
        <td>VERBO HTTP</td>
        <td>DELETE</td>
      </tr>
      <tr>
        <td>HEADER</td>
        <td>token : token</td>
      </tr>
      <tr>
        <td>USUARIOS</td>
        <td>Clientes</td>
      </tr>
      <tr>
        <td>PETICION BODY</td>
        <td></td>
      </tr>
      <tr>
        <td>RESPUESTA JSON</td>
        <td>
          Correcto: message: "Cliente eliminado con exito" <br />
          Incorrecto: message: "Error al eliminar el cliente" <br />
          Error: message: `Error en el sistema + error`
        </td>
      </tr>
      <tr>
        <td>DESARROLLADOR</td>
        <td>Juan Camilo Realpe Ceron</td>
      </tr>
      <tr>
        <td>Repositorio</td>
        <td>Null</td>
      </tr>
    </table>
  </body>
</html>
